.home{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home_img{
  height: 80vh;
  width: 80%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.notfound{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.notfound_img{
  height: 80vh;
  width: 80%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}